{% extends 'customer/layouts/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main_content %}
<!-- banner -->
<div class="innerpage-banner" id="home">
	<div class="inner-page-layer">
	</div>
</div>
<!-- //banner -->

<!--  -->
<section class="mail pt-lg-5 pt-4">
	<div class="container pt-lg-5">
		<h1 class="heading text-center mb-sm-5 mb-4">Orders</h1>
		<div class="row agileinfo_mail_grids">
			<div class="col-lg-12 agileinfo_mail_grid_right">
				
        {% if ords %}
           <table class="table table-bordered">
               <thead>
                 <tr>
                   <th>OrderId</th>
                     <th>Customer</th>
                   <th>Agency</th>
                   <th>Date</th>
                   <th>Order Details</th>
                 </tr>
               </thead>
               <tbody>
                 {% for ord in ords %}
                 <tr>
                   <td>{{ord.id}}</td>
                   <td>{{ord.user.username}}</td>
                   <td>{{ord.agency.user.username}}</td>
                   <td>{{ord.date}}</td>
                   <td><a href="{% url 'customer_order_details' ord.id %}">View Order Details</a></td>
                 </tr>
                 {% endfor %} 
               </tbody>
             </table>
             {% else %}
               <h5 class="text-center">No Orders Available</h5>
             {% endif %}

			</div>
			
		</div>
	</div>
	
</section>
<!-- // -->
{% endblock main_content %}