{% extends 'myadmin/layouts/base.html' %}
{% load static %}
{% block title %}Customer{% endblock title %}
{% block banner %}Customer{% endblock banner %}
{% block main_content %}
<!--grid-->
<div class="grid-form">

    <div class="grid-form1">
             <h3 class="alert alert-danger text-center">All Customers</h3>
              
            {% if customers %}
            
            
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact</th>
                  <th>More Details</th>
                </tr>
              </thead>
              <tbody>
                {% for user in customers %}
                
                  <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.user.username}}</td>
                    <td>{{user.user.email}}</td>
                    <td>{{user.contact}}</td>
                    <td><a href="{% url 'customer_profile' user.id %}">View Details</a></td>
                  </tr>
                {% endfor %}
              </tbody>
    </table>
    {% endif %}
   
    <div class="panel-body">
            
    </div>
    <div class="bs-example" data-example-id="form-validation-states-with-icons">
      
    </div>
     </div>
     <!--//grid-->
{% endblock main_content %}