{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GJ DABBAWALA</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myadmin/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myadmin/assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'myadmin/assets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'myadmin/assets/css/pages/auth.css' %}">
</head>

<body>
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-3 col-12"></div>
            <div class="col-lg-6 col-12">
                <div id="auth-left">
                    <div class="auth-logo" >
                        <a href="index.html"><img src="{% static 'myadmin\images\GJ_Logo.svg' %}" alt="Logo" style="position: relative;left: 96px; width: 200px; height: 150px;"></a>
                        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
                    </div>
                   
                    <form action="/myadmin/login_check/" style="position: relative;bottom: 90px;" method="post">
                        {% csrf_token %}
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" class="form-control form-control-xl" placeholder="Username" name="username">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" class="form-control form-control-xl" placeholder="Password" name="password">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <div class="form-check form-check-lg d-flex align-items-end">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-gray-600" for="flexCheckDefault">
                                Keep me logged in
                            </label>
                        </div>
                        <button class="btn btn-danger btn-block btn-lg shadow-lg mt-5" type="submit" name="submit">Log in</button>

                         <p>
                             <br/>
                            <a class="font-bold" href="auth-forgot-password.html" style="">Forgot password?</a>.</p>
                    </form>
                                   </div>
            </div>
            
        </div>

    </div>
</body>

</html>