{% extends 'myadmin/layouts/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block banner %}Change Password{% endblock banner %}
{% block main_content %}
<!--grid-->
<div class="grid-form">
 		


  <div class="grid-form1">
  	  <div>
</div>
  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal" method="POST">
								{% csrf_token %}
                  {% for fm in form %}
                    <div class="form-group">
                      <label for="focusedinput" class="col-sm-4 control-label">{{fm.label}}</label>
                      <div class="col-sm-6">
                        {{fm}}
                      </div>
                    </div>
                  {% endfor %}
								

								<div class="form-group">
									<label for="focusedinput" class="col-sm-4 control-label"></label>
									<div class="col-sm-6">
										<button class="btn-primary btn" value="submit" name="submit" id="submit" type="submit">Submit</button>
										<a href="{% url 'dashboard' %}" class="btn-default btn">Cancel</a>
				
									</div>
								</div>
								
								
							</form>
						</div>
					</div>
					
					
 
  
	</div>
	
    
  </div>
 	</div>
 	<!--//grid-->
{% endblock main_content %}